body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
}
header {
  background-color: aquamarine;
  font-family: 'Press Start 2P', cursive;
}

body {
  font-family: 'Oxygen', sans-serif;
}

h1 {
  text-align: right;
  width: 60%;
  display: inline-block;
}

header h2 {
  text-align: right;
  width: 58%;
  display: inline-block;
}

header img {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  height: 185px;
}

footer {
  background-color: blue;
}

.MenuHeader {
  border-style: solid;
}
.MenuHeader ul{
  display: inline-block;
}
.Menu li {
  display: inline-block;
  text-align: center;
  background-color: red;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  box-shadow: 10px 10px 5px #656565;
}


footer p {
  font-size: 10px
  font-family: 'Concert One';
}

aside {
  display: inline-block;
  width: 50%;
  height: 70%;
}

main {
  display: inline-block;
  width: 49%;
  top: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
  display: inline-block;
}

.Reassurance {
  width: 50%;
}

.Reparation {
  display: inline-block;
}
.ReparationTable {
  display: inline-block;
  width: 50%;
}

.Remplacements {
  display: inline-block;
}

.Plombier1 {
  width: 400px;
}

.Plombier2 {
  width: 400px;
}

.RemplacementsTable {
  display: inline-block;
  width: 50%;
}

.Installations {
  display: inline-block;
}

.InstallationsTable {
  display: inline-block;
  width: 50%;
}

.coordonnees {
  display: inline-block;
}

.Main2 {
  position: relative;
}

.contact {
  display: inline-block;
  top: 0;
  position: relative;
}
